/* Only custom site styles */
@import "../styles/style.css";
@import "../styles/responsive.css";

/* Tailwind CSS */
@import "tailwindcss";
/* .marketing-line {
  font-size: 15px;
  font-weight: 600;
  color: #f26522;
  animation: slideFade 3s ease-in-out infinite;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
} */
